/AirDC++.lnk
/Blender 3.5.lnk
/desktop.ini
/GitHub Desktop.lnk
/new calc
/Nilesh (Neelesh Personal) - Chrome.lnk
/Photoshop - Shortcut.lnk
/Postman.lnk
/Slice 1.png
/Telegram.lnk
/Visual Studio Code.lnk
/Grammarly.lnk
/Grp2_TRW.docx
/PCSX2 1.6.0.lnk
*.lnk
